@media (max-width: 700px) {
  .footer-row{
		display: block;
		padding: 0 10px;
   }
   .footer-logo-column{
		padding: 14px;
	}   
   .list-comlum{
   		display: block;
   }
   .footer-column{
		padding:0 20px;
	}
	.footer-text{
  		display: block; 
		padding: 10px 14px;
   }
}