@media (min-width: 700px) {
  /* This part is only read by viewports wider than 1200 pixels */
  	
   .footer-row{
		display: block;
		padding: 0 10px;
   }
   .footer-logo-column{
		padding: 14px;
	}
   
   .list-comlum{
   		display: -webkit-inline-box;
   }
   .footer-column{
		padding:0 20px;
	}
	.footer-text{
  		display: inline-block; 
		padding: 10px 14px;
   }
}