@media (max-width: 768px) {
  

/*Tool Part*/
.tool-fluid{
    padding: 40px;
    position: block;
 }

  /**/
.cozy-top-row{
	display: block;
	padding: 30px 20px;
}
.__text-center{
	padding: 0px;
}
/*Introduction Part*/
.reduced-row{
  display: block;
  padding: 2%
}
.customer-card{
  width: 90%;
  margin: 4%;
}
.component--block{
  padding: 28px;
}
/*Body Companies Part*/
  .companies-row{
    display: block;
  }
  .container-fluid{
    display: block;
    text-align: center;
  }
  .component-textblock{
    padding: 0 38px;
  }
  .vertical-middle{
    padding: 30px 0;
  }
  .container-fluid{
  padding: 10%;
  }
  .feature-box{
    width: 90%;
    background-color: #f4f5f7;
    margin:30px;
  }


  .recommended-row{
    padding:0;
    display: grid;
  }
  .recommended-column{
    text-align: left;
    padding: 20px;
    display: inline-flex;
  }
  .recommended-img-header{
    display: -webkit-inline-box;
  }
  .dev-img{
    padding: 14px;
  }


  .footer-row{
		display: block;
		padding: 0 10px;
   }
   .footer-logo-column{
		padding: 14px;
	}   
   .list-comlum{
   		display: block;
   }
   .footer-column{
		padding:0 20px;
	}
	.footer-text{
  		display: block; 
		padding: 10px 14px;
   }
}